/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

i{
    font-size: 2rem;
    color: #b1b1b1;
}

h2{
    font-size: 1.5rem;
}

p{
    color: #b1b1b1;
}


ul li {
    list-style: none;
  
}

ul{
    position: absolute;
    top: 2vh;
    right: .5vw;
}


.relative{
    position: relative;
}
.bg-color{
    color: #b1b1b1;
}

.flex-collumn{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}

.flex{
    display: flex;
}

.contact{
    height: 7vh;
    display: flex;
    background-color: lightgrey;
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.hide{
    display: none;
}
.active{
    display: block;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}
.border-right{
    border-right: 1px solid lightgray;
}
.fixed{
    display: fixed;
    top: 0;
    left: 0;
}
/* container */

.background-container{
    width: 100vw;
    height: 100vh;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-webapp{
    width: 80vw;
    height: 90vh;
    display: flex;
  
}

.avatars-chat{
    width: 35vw;
    position: relative;
    background-color: white;
}

.chat{
    width: 45vw;
    background-color: lightpink;
    
}


/* avatar class  left side*/

/* avatar section */
.avatar{
    height: 7vh;
    display: flex;
    background-color: lightgrey;
}

.contact:hover{
    background-color: black;
    opacity: 0.5;
    color: white;

}
.avatar-user{
    display: flex;
    width: 50%;
}
.avatar-icons{
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
}

.avatar-icons i{
    padding: 0.5rem;
}

/* round image vatar */
.img-avatar{
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.img-avatar img{
    border-radius: 50%;
    width: 5vh;
    line-height: 2rem;
}

.img-avatar i{
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;

    background-color: white;
    color: #8edafc;
}
/* avatar text */
.avatar-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* icons */
.avatar-icons{
    padding: 1rem;
}
.avatar-icons i{
    padding: 1rem;
}


/* color */

.io{
   background-color: #eaeaea;
}

.white{
    background-color: white;
}

.notification{
    background-color: #8edafc;
}

.avatars-container{
    overflow: auto;
}

/* input bar left*/
.search-contact-bar{
    height: 4vh;      
    justify-content: center;;
   ;
}

.search-contact-bar button{
    width: 5vw;
    height: 3vh;
    background-color: white;

}
.search-contact-bar input{
    width: 25vw;
    height: 3vh;
    
}

/* avatar class  right side*/
/* avatar selcted */



/* chat */
.avatar-chat{
    width: 100%;
    height: 78vh;
    overflow: auto;
    background-image: url(../img/mine.jpg);
    background-size: contain;
    background-position: center;

    background-color: green;
}
.messages{
    width: 80%;
    margin: 0 auto;
    margin-top: 6vh;
}   
.message{
    
    margin: 0 auto;
}

.text{
    margin: 1rem;
    color: black;
    display: flex;
    font-size: 1.5rem;
    
}

.text-white{
    background-color: white;
    padding: 1rem;
    border-radius: 0.7rem;
    justify-content: start;
    min-width: 5vw;
    
}

.end{
    justify-content: end;
}
.text-green{
    background-color: #d5f9ba;
    padding: 1rem;
    border-radius: 0.7rem;
    min-width: 5vw;
}

.square{
    box-shadow: 1px 1px 1px 1px grey;
}

.square li{
    width: 8vw;

    padding: 1rem;
    background-color: red;
    color: black;
    z-index: 999;
    
}
.square li:hover{
    background-color: green;
}
/* bottom text */
.message-board{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;

    background-color:#f3eeea;
}

.emoji,
.audio{
    width: 5vw;
}

.emoji,
.audio i{
    color: #6b7376;
    background-color: #f3eeea;
}

.write-text{
    width: 45vw;
}
.write-text input{
    width: 100%;
    line-height: 3vh;
}

.emoji,
.audio,
.write-text{
    display: flex;
    justify-content: center;
    
}

