<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- font awsome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Cdn Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>vue-boolzapp</title>
</head>
<body>
    <div class="background-container">
        <div id="app" class="container-webapp">


            <!-- left side -->
            <div class="avatars-chat">
                <div class="avatar io  border-right">
                    <div class="avatar-user">
                        <div class="img-avatar">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <div class="avatar-name">
                            <h2>Sofia</h2>
                        </div>
                    </div>
                    <div class="avatar-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        
                    </div>
                    
                </div>
                <div class="notification avatar">
                    <div class="img-avatar">
                        <i class="fa-solid fa-bell-slash"></i>
                        
                    </div>
                    <div class="avatar-name notification fixed">
                        <h3>Ricevi notifiche di nuovi messaggi</h3>
                        <p><a href="">Attiva notifiche desktop</a></p>
                    </div>
                </div>
                <div class="search-contact-bar ">
                    <div class="input-bar">
                       <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <label for="contact-search"></label>
                        <input v-model="avatarSerch"
                            id="contact-search"
                            placeholder="Cerca utente"
                            @keyup.enter="serchAvatar">
                    </div>
                </div>
                <div class="avatars-container">
                    <div v-for="(contact, index) in contacts"
                        @click="changeTopUser(index)"
                        :class="index === currentUser"
                        class="avatar white border-bottom">
                        <div class="img-avatar">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                        </div>
                        <div class="avatar-name">
                            <h2>{{contact.name}}</h2>
                            <p>lol</p>
                        </div>  
                    </div>   
                </div>
            </div>

            <!-- right side -->

            <!-- top side -->
            <div class="chat">
                <div class="current-avatar">
                    <div class="avatar io">
                        <div class="avatar-user">
                            <div class="img-avatar">
                                <img :src="'img/avatar' + contacts[currentUser].avatar + '.jpg'" alt="">
                            </div>
                            <div class="avatar-name">
                                <h2>{{contacts[currentUser].name}}</h2>
                            </div>
                        </div>
                        <div class="avatar-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>


                <!-- middle side -->
                <div class="avatar-chat">
                    <div class="messages">
                        <div v-for="(message,index) in contacts[currentUser].messages" class="message">
                            <div   v-if="contacts[currentUser].messages[index].status === 'received'"  class="text " >
                                <span class="text-white">
                                     {{contacts[currentUser].messages[index].message}}
                                </span>
                            </div>
                            <div  v-else="contacts[currentUser].messages.status === 'sent'" :class="'end'" class="text ">
                                <span class="text-green">
                                    {{contacts[currentUser].messages[index].message}}
                                </span> 
                            </div>
                        </div>
                    </div>
                </div>

                <!-- end side -->
                <div class="message-board">
                    <div class="emoji">
                        <i class="fa-sharp fa-solid fa-face-smile"></i>
                    </div>
                    <div class="write-text">
                        <label for="message-text"></label>
                        <input
                          v-model="newMessage"
                          id="message-text"
                          placeholder="Inserisci un nuovo messaggio"
                          @keyup.enter="addNewMessage">
                    </div>
                    <div class="audio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>